footer {
    padding: 0 0 !important;
    margin: 20px 0 20px 0;
    p {
        margin-bottom: 5px;
    }
    h6 {
        margin-bottom: 20px;
        color: $text-color;
        font-size: $h6-font-size;
    }
    .address p {
        margin-bottom: 0px;
    }
    .pages a {
        text-transform: capitalize;
    }
    .connect a {
        text-transform: lowercase;
    }
    #sign-up-form {
        position: relative;
        margin-bottom: 20px;
        input {
            width: 100%;
            height: 46px;
            padding: 5px;
            padding-left: 15px;
            border-color: #c3ced6;
            outline: none;
            font-size: 17px;
            margin-top: 8px;
            transition: all 0.30s ease-in-out;
            &:focus {
                border-color: #90a3b0;
                box-shadow: none;
            }
        }
        a {
            position: absolute;
            text-transform: capitalize;
            right: 5px;
            top: calc(50% - 14px);
            background: $btn-color-grey;
            padding: 9px 16px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.3s ease 0s;
            &:hover {
                background: $btn-color-grey-hover;
            }
        }
        .hide-button-text {
            color: transparent !important;
        }
        .sign-text {
            color: transparent;
            display: none;
            visibility: visible;
            &-show {
                color: #fff;
                display: inline;
            }
        }
    }
    .copy {
        text-align: center;
        margin-top: 50px;
    }
    a {
        text-transform: lowercase;
        color: $text-color;
        outline: none!important;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $brand-success;
        }
        :focus,
        :active {
            outline: none!important;
        }
    }
}
@media (max-width: 760px) {
    footer {
        text-align: center;
        h3 {
            padding: 15px 0px 15px 0px;
            font-size: 30px;
        }
        .address,
        .pages,
        .connect {
            margin-bottom: 25px;
        }
        .newsletter {
            p {
                margin-bottom: 15px;
            }
        }
    }
}
@media (min-width: 960px) {
    footer {
        position: fixed;
        bottom: 25px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .main-content.container-fluid {
        margin-bottom: 380px;
    }
}
@media all and (max-width: 990px) and (min-width: 760px) {
    .newsletter {
        padding-top: 20px;
    }
    footer #sign-up-form a {
        padding: 8px 80px;
    }
}
@media all and (max-width: 760px) and (min-width: 440px) {
    footer #sign-up-form a {
        padding: 8px 60px;
    }
}